{% extends 'base.html' %}

{% block content %}

<h1>Assignment 4 PBP/PBD</h1>

<h3>Nama: {{name}}</h3>

<h3>NPM: {{NPM}}</h3>

<p>Welcome, {{user.get_username}}!</p>

<table>
    <tr>
    <th>Date Created</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Task Status</th>
    <th>Delete Task</th>

    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            <th>{{task.get_is_finished_display}} 
                <form action="{% url 'todolist:update_status' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>Change Status</button>
                </form>
            </th>
            <th>
                <form action="{% url 'todolist:delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>Delete Task</button>
                </form>
            </th>
        </tr>
    {% endfor %}
</table>

<h5>Last Login Session: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task' %}">Add New Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% if messages %}
<ul class="msg">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}