{% extends 'base.html' %}

{% block content %}

<h1>Assignment 4 PBP/PBD</h1>

<h5>Nama: </h5>
<b>{{name}}</b>

<h5>NPM: </h5>
<b>{{NPM}}</b>

<h4>User Logged In: </h4>
<b>{{user.get_username}}</b>


<table>
    <tr>
    <th>Date Created</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Task Status</th>
    <th>Delete Task</th>

    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            <th>{{task.get_is_finished_display}} 
                <form action="{% url 'todolist:update_task_status' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>Change Status</button>
                </form>
            </th>
            <th>
                <form action="{% url 'todolist:delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>Delete Task</button>
                </form>
            </th>
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% if messages %}
<ul class="msg">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}