{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <b>{{name}}</b>

  <h5>Student ID: </h5>
  <b>{{student_id}}</b>

  <table>
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for mywatchlist in list_mywatchlist %}
      <tr>
          <th>{{mywatchlist.watched}}</th>
          <th>{{mywatchlist.title}}</th>
          <th>{{mywatchlist.rating}}</th>
          <th>{{mywatchlist.release_date}}</th>
          <th>{{mywatchlist.review}}</th>
      </tr>
    {% endfor %}
  </table>

 {% endblock content %}